/* big, global stuff
-------------------------------------------------- */

body {
  background-image:url(../img/subtle_white_feathers.png);
  font-family: 'Ovo', serif;
}

.container {
  margin: 0 auto;
  max-width: 920px;
}

/* to make footer sticky
-------------------------------------------------- */

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  padding: 0 0 80px;
}

#footer {
  height: 80px;
  background-color: #fff;
}

#wrap > .container {
  padding: 25px 0;
}
.container .credit {
  margin: 6px 0;
  text-align: center;
}

@media (max-width: 767px) {
  #footer {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* footer stylez
-------------------------------------------------- */

#footer a:hover {
  text-decoration: none;
}

.footer-links {
  margin: 16px 0 8px 0;
  padding-left: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}


/* misc styles
-------------------------------------------------- */

h1 {
  font-family: 'Ovo', serif;
}

.my-nav >li >a {
  color:#5a5a5a;
}

.memory {
  float:right;
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 20px;
  min-height: 1px;
  padding-top: 30px;
  padding-bottom:60px;
}


